pdf.zip
png.zip
Dane_do_heatmapy-cividis.png
Dane_do_heatmapy-coolwarm.png
Dane_do_heatmapy-hsv.png
Dane_do_heatmapy-icefire.png
Dane_do_heatmapy-inferno.png
Dane_do_heatmapy-magma.png
Dane_do_heatmapy-plasma.png
Dane_do_heatmapy-rocket.png
Dane_do_heatmapy-tab20.png
Dane_do_heatmapy-tab20b.png
Dane_do_heatmapy-tab20c.png
Dane_do_heatmapy-viridis.png
Dane_do_heatmapy-cividis.pdf
Dane_do_heatmapy-coolwarm.pdf
Dane_do_heatmapy-hsv.pdf
Dane_do_heatmapy-icefire.pdf
Dane_do_heatmapy-inferno.pdf
Dane_do_heatmapy-magma.pdf
Dane_do_heatmapy-plasma.pdf
Dane_do_heatmapy-rocket.pdf
Dane_do_heatmapy-tab20.pdf
Dane_do_heatmapy-tab20b.pdf
Dane_do_heatmapy-tab20c.pdf
Dane_do_heatmapy-viridis.pdf
